
body {
  background-color: #ffffff; 
  background-image: url('https://media.istockphoto.com/id/1349208049/photo/multicolored-party-or-birthday-accessories-frame.webp?b=1&s=170667a&w=0&k=20&c=TN8VhkSR3uURPKY2EK3JFW4rtFGyXlZDyhogm-Jn_Gw='); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}